body {
    background-color: #777;
    width: 960px;
    margin-left: auto;
    margin-right:auto;
	font-size 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
    color: #777;
}

header {
	background-color: #ebebeb;
	padding: 15px;
	margin: 15px 15px 15px 15px;
}

nav {
	background-color: #ebebeb;
	padding: 15px;
	margin: 15px 15px 0px 15px;
}

footer {
	background-color: #ebebeb;
	clear: left;
	padding: 15px;
	margin: 15px 15px 15px 15px;
}

section {
	background-color: #ebebeb;
	width: 495px;
	float: left;
	padding: 10px;
	margin: 15px 15px 15px 15px;
}

aside {
    background-color: #ebebeb;
    padding: 103px;
	margin: 15px 15px 15px 550px;
}

article {
	background-color: #777;
	padding: 5px;
	margin: 20px 5px 5px 5px;
	color: #ebebeb;
}

#article{
	background-color: #777;
	padding: 5px;
	margin: 20px 5px 5px 5px;
	color: #ebebeb;
}

h1 {
	background-color: #ebebeb;
	padding: 10px;
	margin: 15px 15px 15px 15px;
	font-weight: bold;
	font-size: 19px;
	color: #777;
}

p {
	background-color: #ebebeb;
	padding: 10px;
	margin: 15px 15px 15px 15px;
	color: #777;
}

.clear {}